<!DOCTYPE HTML>
<html>
<head>
    <title>Sinners Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form method="post">
            <input type="text" name="sinType" placeholder="Тип греха">
            <input type="number" name="sinWeight" placeholder="Тяжесть греха">
            <input type="text" name="sinDescription" placeholder="Описание греха">
            <button type="submit">Зацени мой грешок</button>
        </form>
    </div>
    <div>Список грехов</div>
    {{#sins}}
        <div>
            <span>{{description}}</span>
            <b>{{type}}</b>
            <i>{{weight}}</i>
        </div>
    {{/sins}}
</body>
</html>